<div class="wrapper section-list">
  {{ range sort .Paginator.Pages }}
    <a href="{{ .RelPermalink }}">
      <article>
        {{ if .Params.cover }}
          <div class="cover-img">
            <img alt="{{ .Title }}" src="{{ .Params.cover }}">
          </div>
        {{ end }}
        <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
        <h2 class="title">
          {{ .Title }}{{ if .Draft }} ::Draft{{ end }}
        </h2>
        <div class="content">
          {{ if .Params.summary }}
            {{ .Params.summary | markdownify | plainify | safeHTML }}
          {{ else }}
            {{ .Summary | plainify | safeHTML }}
            {{ if .Truncated }}...{{ end }}
          {{ end }}
        </div>
      </article>
    </a>
  {{ end }}
</div>
