  <footer>
    <div id="site-map">
      <h5>juan.benet.ai</h5>

      <a href="/">Welcome</a>,
      <a href="/about">About</a>,
      <a href="/contact">Contact</a>,
      <a href="/blog">Blog</a>

    </div>
    <div id="contact-me">
      <h5>Networks</h5>
      <a href="https://twitter.com/juanbenet" target="_blank"><i class="typcn typcn-social-twitter"></i> @juanbenet</a><br />
      <a href="https://github.com/jbenet" target="_blank"><i class="typcn typcn-social-github"></i> @jbenet</a><br />
      <a href="https://keybase.io/jbenet" target="_blank"><i class="typcn typcn-key"></i> @juanbenet</a>
    </div>
  </footer>

{{ template "_internal/google_analytics_async.html" . }}

  <!-- end scripts -->
  <script src="/js/link-headers.js"></script>

</div><!-- div.content.markdown -->
</div><!-- div.site -->

</body>
</html>
